@import "components/nav.css";
@import "components/footer.css";

@import "screen/main.css";

#splash-screen {
  background-color: gainsboro;
  position: absolute;
  height: 105vh;
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  animation: hideSplashScreen 0.5s ease-in-out forwards;
  animation-delay: 1.5s;
  left: 0;
}
#splash-screen span {
  font-size: 50px;
}
.body {
  margin: 0px 45px;
  font-family: "Black Han Sans", sans-serif;
}
@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

a {
  text-decoration: none;
}
input {
  border: 0.7px solid;
  border-radius: 5px;
}
